<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    
    <h1>Панель администратора</h1>
    <h2>Добавить букет</h2>

    <form action="/admin" method="post">
        <input type="hidden" name="action" value="add">
        <input type="text" name="name" placeholder="название"> <br>
        <input type="text" name="description" placeholder="описание"> <br>
        <input type="text" name="price" placeholder="цена"> <br>
        <input type="text" name="quantity" placeholder="количество"> <br>
        <input type="text" name="image_path" placeholder=""> <br>
        <button type="submit">Добавить</button>
    </form>

    <h2>Редактировать</h2>
    <ul>
        {% for flower in flowers %}
            <li>
                <form action="/admin" method="post">
                    <input type="hidden" name="flower_id" value="{{ flower[0] }}">
                    <input type="hidden" name="action" value="edit">
                    <input type="text" name="name" value="{{ flower[1] }}">
                    <input type="text" name="description" value="{{ flower[2] }}">
                    <input type="text" name="price" value="{{ flower[3] }}">
                    <input type="text" name="quantity" value="{{ flower[4] }}">
                    <input type="text" name="image_path" value="{{ flower[5] }}">
                    <button type="submit">Сохранить</button>
                </form>
                <form action="/admin" method="post">
                    <input type="hidden" name="flower_id" value="{{ flower[0] }}">
                    <input type="hidden" name="action" value="delete">
                    <button type="submit">Удалить</button>
                </form>
            </li>
        {% endfor %}
    </ul>

</body>
</html>
